 <h1>Partage</h1>

 
<form method="POST" style="padding: 10px;" action="php/cloud.php" enctype="multipart/form-data" class="form-cloud col-md-6 offset-md-3 text-center">

  <div class="form-group">
    <h3>Importer des fichiers</h3>
    <input type="file" class="form-control-file" name="fileupload">
  </div>

  <div class="form-group">
  	<button type="submit" name="submit" class="btn btn-default col-md-12">Importer</button>
  </div>
  
</form>
<br>

<section class="row col-md-10 offset-md-1 section-cloud">
	<p id="listupload"></p>
</section>
<br>
<br>