<h1>Analyse du projet</h1>

<div class="container">  
  
<div class="row">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th style="width: 50%;">Force</th>
        <th>Faiblesse</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
        	<form id="form-force">
        		<input type="text" class="form-control" ng-model="force" id="force" placeholder="Saisir un champ">
        	</form>
            <ul class="list-group">
                <span id="getForce"></span>
            </ul>
        	{{force}}
        </td>
        <td>
        	<form id="form-faiblesse">
        		<input type="text" class="form-control" ng-model="faiblesse" id="faiblesse" placeholder="Saisir un champ">
        	</form>
            <ul class="list-group">
                <span id="getFaiblesse"></span>
            </ul>
        	{{faiblesse}}
        </td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th>Opportunité</th>
        <th>Menace</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
        	<form id="form-opportunite">
        		<input type="text" class="form-control" ng-model="opportunite" id="opportunite" placeholder="Saisir un champ">
        	</form>
            <ul class="list-group">
                <span id="getOpportunite"></span>
            </ul>
        	{{opportunite}}
        </td>
        <td>
        	<form id="form-menace">
        		<input type="text" class="form-control" ng-model="menace" id="menace" placeholder="Saisir un champ">
        	</form>
            <ul class="list-group">
                <span id="getMenace"></span>
            </ul>
        	{{menace}}
        </td>
      </tr>
    </tbody>
  </table>
</div><!-- row -->
</div><!-- container -->
