<style>
.profil-conteneur
{
	background: url('img/blanc.png');
	padding: 15px;
}
h3
{

}
</style>
<h1>Mon profil</h1>
<section class="contener-fluid profil-conteneur">
	<div class="row">
		<div class="col-md-9">
			<div class="row">
				<h4 class="col-md-4">Nom : </h4>			
				<input type="text" name="nom" value="HEITAA" class="form-control col-md-8">
			</div><br>
			<div class="row">
				<h4 class="col-md-4">Prénom : </h4>			
				<input type="text" name="nom" value="Gilles" class="form-control col-md-8">
			</div><br>
			<div class="row">
				<h4 class="col-md-4">Login : </h4>			
				<input type="text" name="nom" value="gilles" class="form-control col-md-8">
			</div><br>
			<div class="row">
				<h4 class="col-md-4">Mot de passe : </h4>			
				<input type="text" name="nom" value="root" class="form-control col-md-8">
			</div><br>
			<div class="row">
				<input type="submit" name="submit" class="btn btn-success col-md-8 offset-md-4">				
			</div>


		</div>
		<div class="col-md-3">
			<img style="width: 150px; display: block; margin: auto;" src="img/profil.JPG">
			
		</div>
	</div><!-- row -->
</section>
<br>